.about {
    span {
        font-size: 30px;
        display: block;
        padding: 10px 0;
        text-align: center;
        @media (max-width: 1200px) {
            font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1200 - 320)));
        }
    }
}
.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    @media (max-width: 1200px) {
        padding: 0;
    }
    &__img {
        max-height: 700px;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        background-color: #718096;
        border-radius: 20px;
        margin-top: 50px;
        @media (max-width: 1200px) {
            margin-top: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
        }
        img {
            width: 100%;
        }
    }
    &__content {
        ol {
            list-style-type: none;
            margin: 0 0 0 45px;
                @media (max-width: 767px) {
                       margin: 0 0 0 35px;
                    }
            li {
                padding-top: 20px;
                font-size: 24px;
                line-height: 1.2;
                @media (max-width: 1200px) {
                    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1200 - 320)));
                }

                position: relative;
                &::before {
                    content: "";
                    background-image: url(../../img/Check.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 20px;
                    left: -48px;
                    @media (max-width: 767px) {
                        width: 20px;
                        height: 20px;
                        top: 22px;
                        left: -33px;
                    }
                }
            }
        }
        span {
            font-size: 20px;
            padding: 50px 0 40px 50px;
            text-align: start;
            @media (max-width: 767px) {
                padding: 30px 0;
                font-size: 14px;
            }
        }
    }
}
