.new-post {
    display: flex;
    //justify-content: space-between;
    background-color: #d8d8d841;
    height: 500px;
    margin-bottom: 100px;
    &__content {
        width: 55%;
        padding: 80px 20px 80px 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__text {
        font-size: 20px;
        @media (max-width: 1200px) {
            font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
    }
    .post__title {
        padding-bottom: 0;
    }
    &__image {
        width: 45%;
        height: 100%;
        border-radius: 15px 0 0 15px;
        overflow: hidden;

        img {
            max-width: 100%;
        }
    }
}
.post__data {
    font-size: 16px;
}
.post__title {
    font-size: 40px;
    padding: 20px 0 40px;
    @media (max-width: 1920px) {
        font-size: calc(15px + (40 - 15) * ((100vw - 320px) / (1920 - 320)));
    }
}
.post__link {
    display: inline-block;
    padding: 20px 10px 10px 0;
    font-weight: bold;
    font-size: 20px;
    svg {
        margin: 2px 0 0 10px;
    }
}
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding-bottom: 50px;
    @media (max-width: 992px) {
        grid-template-columns: 1fr;
    }
}

