.post {
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    @media (max-width: 1200px) {
        margin-bottom: calc(0px + (20 - 0) * ((100vw - 320px) / (1200 - 320)));
    }
    // &__filter {
    //     position: absolute;
    //     width: calc(100% - 20px);
    //     height: calc(100% - 20px);
    //     // background-color: #04040462;
    //     //background: linear-gradient(0deg, rgba(32, 32, 32, 0.6334908963585435) 0%, rgba(32, 32, 32, 0) 41%);
    //     border-radius: 20px;
    // }
    &__wrap {
        position: absolute;
        bottom: 15%;
        color: #fff;
        @media (max-width: 767px) {
            bottom: 10%;
        }
    }
    &__title {
        font-size: 100px;
        font-weight: bold;
        text-transform: uppercase;
        white-space: nowrap;
        @media (max-width: 1200px) {
            font-size: calc(20px + (100 - 20) * ((100vw - 320px) / (1200 - 320)));
        }
    }
    &__text {
        width: 80%;
        padding: 30px 10px 0 6px;
        font-size: 24px;
        @media (max-width: 1200px) {
            font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
        @media (max-width: 767px) {
            display: none;
        }
    }

    &__img {
        max-height: 800px;
        width: 100%;
        object-fit: cover;
        overflow: hidden;
        background-color: #718096;
        border-radius: 15px;
        @media (max-width: 1200px) {
            max-height: calc(200px + (800 - 200) * ((100vw - 320px) / (1200 - 320)));
        }
        img {
            width: 100%;
        }
    }
}
