.social {
    font-size: 18px;
    color: #fff;
    display: flex;
    flex-direction: column;
 align-items: flex-start;

    @media (max-width: 767px) {
        padding-top: 30px;
    }
    &__item {
        padding: 10px 10px 10px 0;
        display: inline-flex;
        align-items: center;
        @media (any-hover: hover) and (any-pointer: fine) {
            &:hover {
                color: #9b9997;
                transition: all 0.5s ease 0s;
            }
            &:hover svg {
                fill: #9b9997;
                transition: all 0.5s ease 0s;
            }
        }
        svg {
            width: 30px;
            height: 30px;
            margin-right: 20px;
            fill: #fff;
        }
    }
}
