.footer {
    background-color: #202020;
    width: 100%;
    padding: 50px 20px;
    color: #fff;
    position: relative;

    &__copy {
        position: absolute;
        right: 20px;
        bottom: 64px;
        @media (max-width: 600px) {
            position: static;
            padding: 30px 0 0 10px;
            a {
                white-space: nowrap;
                display: block;
                padding-top: 5px;
            }
            span:before{
                display: none;
            }
        }
        span {
            position: relative;
            padding-right: 20px;
            &::before {
                content: "|";
                width: 10px;
                position: absolute;
                top: 0px;
               right: 0;
            }
        }
    }
    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: #fff;
    }
    .logo__link {
        color: #fff;
    }
}
