.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__image {
        overflow: hidden;
        border-radius: 8px;
        margin-top: auto;
        img {
            max-width: 100%;
        }
    }
}