// Общие настройки ============================================================================================================================================================================================================================================================================================================================================================================================================================================
#root {
    height: 100%;
}
// Оболочка
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #222222;
      // background-color: #202020;
    // Прижимаем footer
    > main {
        flex: 1 1 auto;
    }
    // Фикс для слайдеров
    // > * {
    //     min-width: 0;
    // }
}

// Ограничивающий контейнер
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.active {
    color: #9b9997;
}

.title {
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 120px 10px 80px;
    text-align: center;
    @media (max-width: 1200px) {
        font-size: calc(30px + (100 - 30) * ((100vw - 320px) / (1200 - 320)));
        padding-top: calc(90px + (120 - 90) * ((100vw - 320px) / (1200 - 320)));
        padding-bottom: calc(30px + (80 - 30) * ((100vw - 320px) / (1200 - 320)));
    }
}
